sudo: required
language: cpp
dist: trusty

notifications:
  email: false

services:
  docker

script:
  - export CC=gcc-53 CXX=g++-53 CMAKE_BUILD_TYPE=Release
  - ./.travis.sh
  - export CC=gcc-53 CXX=g++-53 CMAKE_BUILD_TYPE=Debug 
  - ./.travis.sh
  - export CC=clang-3.5 CXX=clang++-3.5 CMAKE_BUILD_TYPE=Release
  - ./.travis.sh
  - export CC=clang-3.5 CXX=clang++-3.5 CMAKE_BUILD_TYPE=Debug
  - ./.travis.sh
  - export CC=gcc-6 CXX=g++-6 CMAKE_BUILD_TYPE=Debug CANDB__WITH_COVERAGE=ON
  - ./.travis.sh
    
